@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);
/*
Author: webthemez.com
Author URL: http://webthemez.com
*/
/*************************
*******Typography******
**************************/
body {
  padding-top: 100px;
  background: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #282828;
  line-height: 26px;
  padding: 0;
  overflow-x:hidden;
  margin:0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}
a {
  color: #45aed6;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #2a95be;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  margin-bottom: 50px;
}
.section-header p{
text-align:center;
}
.section-header .section-title {
  font-size: 44px;
  color: #F9690E;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;  


  display: block;
  text-align: center;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: -5px;
  right: 0;
  width: 30px;
  background: rgb(249, 105, 14);
  border-radius: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 10px;
}

.btn {
  border-width: 0;
  border-radius: 0;
}
.btn.btn-primary {
  background: #CD4F00;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #FF8A41;
}
.listarrow{
padding:0px;
}
.listarrow li{
list-style:none;
margin:0px;
padding:0px;
}
.listarrow li i{
padding-right:15px;
color: #F9690E;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
  color: #fff;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%; 
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #45aed6;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
.navbar-toggle{
border-radius: 0;
}

.navbar-nav>li>a {
text-transform: uppercase;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
#main-nav.navbar-default {
background: #FFFFFF;
}
#main-nav.navbar-default .navbar-nav > li.active > a, #main-nav.navbar-default .navbar-nav > li.open > a, #main-nav.navbar-default .navbar-nav > li:hover > a {
background: rgb(249, 105, 14);
color: #FFFFFF;
}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 10px 15px 1px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
color: #F8680D;
 
background: transparent;
}
.navbar-default .navbar-nav>li>a{
color: #020202;
} 
#main-nav.navbar-default {
background: #FFF;
}
.navbar-nav>li {
}
 

@media only screen and (min-width: 768px) {
  #main-nav.navbar-default { 
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.26);
  }
  #main-nav.navbar-default .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 24px;
  
    border-bottom: 4px solid transparent;
}
  .navbar-default .navbar-nav>li>a {
	color: #0E0E0E;
	}
  #main-nav.navbar-default .navbar-nav > li.active > a,

  #main-nav.navbar-default .navbar-nav > li.open > a,
  #main-nav.navbar-default .navbar-nav > li:hover > a {
    background: transparent; 
	
    color: #F9690E;
  
}
  #main-nav.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-nav.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-nav.navbar-default .dropdown-menu > li > a { 
    padding: 15px 0;
    color:#A8A8A8; 
  }
  #main-nav.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-nav.navbar-default .dropdown-menu > li.active,
  #main-nav.navbar-default .dropdown-menu > li.open,
  #main-nav.navbar-default .dropdown-menu > li:hover {
    border-left-color: #45aed6;
  }
  #main-nav.navbar-default .dropdown-menu > li.active > a,
  #main-nav.navbar-default .dropdown-menu > li.open > a,
  #main-nav.navbar-default .dropdown-menu > li:hover > a {
    color: #45aed6;
    background-color: transparent;
  }
}

.whatsapp{
  width:50px;
  position:fixed;
  bottom:10px;
  left:10px;
  cursor: pointer;
  z-index: 10;
}

@media (max-width:640px){
  .hero-section{
    width:100%;
    height:50lvh;
    /* border:5px solid white; */
    margin-top:75px;
    padding-left:10px;
    padding-top:20px;
  }
  .quote{
    overflow-x: hidden;
    width:100%;
    /* border:4px solid darkgoldenrod; */
    height:50lvh;
    display: flex;
    text-align: right;
  }
  .double-quote{
    width:50%;
    height:100%;
    opacity:0.3;
  }
  .dark-section{
    background-color: #000000;
    width:100%;
    overflow-x: hidden;
    height:75vh;

  }
  .get-started-button{
    border:4px solid white;
    width:166px;
    height:50px;
    color:white;
    font-weight: 700;
    font-size: 20px;
    margin-top: 90px;
  }
  .card{
    width:80%;
    overflow-x: hidden;
    margin:20px auto;
    height:200px;
    border-radius: 30px;
    text-align: center;
    box-shadow: #0E0E0E;
    align-items: center;
    margin-bottom: 20px;
    background-color:white;
    padding-top: 20px;
    box-shadow: 0 0 5px 2px #d3d3d3;
  }
  .card-img{
    width:30%;
    margin:5px auto;

  }
  .cards{
    margin-left:23px;
    margin-top:20px;
  }
  .what-text{
    display: flex;
    flex-direction: column;
  }
  .what-cards{
    display: flex;
    justify-content: space-between;
    /* border:1px solid brown; */
    margin-left: 40px;
    margin-right:40px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:30px;
    padding-right:15px;

    border-radius: 30px;
  }
  .what-cards-img{
    width:20%;
  }
.footer{
  background-color: #000000;
  width:100%;
  height:100px;
  position:relative;
  
}
.social-icons{
  display: flex;
  gap:10px;
  margin-top: 0;
  position: absolute;
  bottom:25px;
  padding-left: 160px;
  justify-content: center;
  left:50%;
  transform: translate(-50%,-50%);
  

}
.icons-img{
  width:20px;
  position:relative;
  top:20px;
}
.address-container{
  position:relative;
  padding:0;
  height: 100%;
 
}
.address-container img{
  opacity:0.7;
  height:100%;
}
.address-text{
  position:absolute;
  top:75px;
  padding-left:10px;
}
.phone-text{
  position :absolute;
  bottom:60px;
  padding-right:10px;
  right:0;
}

}